/* Global Font - Noto Kufi Arabic */
body {
  font-family: "Noto Kufi Arabic", -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  direction: rtl; /* Optional: Set Right-to-Left layout */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
